<!DOCTYPE html>
<html>
  <head>
    <title>Insightloop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <% if controller_name == "pages" && action_name == "home" %>

  <!-- NAVBAR MINIMALISTA NA HOME -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      </a>
    </div>
  </div>

<% else %>

  <!-- NAVBAR COMPLETA NO RESTO DO SITE -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      </a>

      <ul class="navbar-nav ms-auto">

        <% if defined?(user_signed_in?) && user_signed_in? %>

          <li class="nav-item">
            <%= link_to "New Analysis", new_ask_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "My Analyses", asks_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>

<% end %>
    <%= yield %>
  </body>
</html>
